fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
httpx
redis
python-multipart
python-dotenv
alembic
psycopg2-binary
google-genai
openai
